.header-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;
}

.logo {
    display: flex;
    gap: 20px;
}
span{
    color: #FF42A5;
}

.logo h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 38px;
    margin-bottom: 38px;
}

.img-logo {

    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.nav-menu ul{
    
}
.nav-menu ul li{
    margin-top: 54px;
    display: inline-flex;
}