.header-content {
    display: flex;
    justify-content: space-between;
    margin: 38px 240px;
}

.logo {
    display: flex;
    gap: 20px;
}

.logo h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 38px;
    margin-bottom: 38px;
}

.img-logo {

    width: 100px;
    height: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
}